In [20]:
import pandas as pd

In [21]:
df = pd.read_csv("../data/sample_dirty.csv")

In [22]:
df.head()

    Name   Age       City Grade  Gender            Note
0  Sagar  21.0     Mumbai     A    male    good student
1  Arjun  20.0  Bengaluru     A  female      needs help
2   Yash  22.0      Dehli     A    Male       excelelnt
3   Neha   NaN       pune     B    Male         average
4   Yash  19.0        PNE     B  Female  late submitter

In [23]:
df.isna().sum()

Name       0
Age       20
City       0
Grade     19
Gender     0
Note       0
dtype: int64

In [24]:
df.isnull().sum()

Name       0
Age       20
City       0
Grade     19
Gender     0
Note       0
dtype: int64

In [25]:
df.duplicated().sum()

np.int64(5)

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    125 non-null    object
 1   Age     105 non-null    float64
 2   City    125 non-null    object
 3   Grade   106 non-null    object
 4   Gender  125 non-null    object
 5   Note    125 non-null    object
dtypes: float64(1), object(5)
memory usage: 6.0+ KB

In [27]:
df.columns

Index(['Name', 'Age', 'City', 'Grade', 'Gender', 'Note'], dtype='object')

In [28]:
df['Note'] = df['Note'].astype('string')

In [29]:
df['Note']

0        good student
1          needs help
2           excelelnt
3             average
4      late submitter
            ...
120            verage
121           average
122    late submitter
123         excellent
124           average
Name: Note, Length: 125, dtype: string

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    125 non-null    object
 1   Age     105 non-null    float64
 2   City    125 non-null    object
 3   Grade   106 non-null    object
 4   Gender  125 non-null    object
 5   Note    125 non-null    string
dtypes: float64(1), object(4), string(1)
memory usage: 6.0+ KB

In [31]:
df['Grade']

0        A
1        A
2        A
3        B
4        B
      ...
120      A
121      A
122      B
123    NaN
124    NaN
Name: Grade, Length: 125, dtype: object

In [32]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [33]:
from wordcloud import WordCloud
import matplotlib.pyplot as plt

# Example text
text = df['Note']

# Generate word cloud
wc = WordCloud(
    width=800,
    height=400,
    background_color="white",
    colormap="viridis"  # you can use seaborn color palettes if you want
).generate(text)

# Show with matplotlib
plt.figure(figsize=(10, 5))
plt.imshow(wc, interpolation="bilinear")
plt.axis("off")
plt.show()

TypeError: expected string or bytes-like object